@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Scripture Journal App</h1>
    <h3>Add Your Favorite Scriptures Along with Notes Now!</h3>
    <img src=@Url.Content("~/images/scripture1.jpg") alt="scripture image" class="img-fluid rounded" style="width:80%;" />
</div>
